html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.heading-container {
    width: 100%;
    text-align: center;
}

.g-container {
    display: inline-block;
    position: relative;
    width: 85%;
    height: 80%;
    border: 3px solid gray;
    margin: 3px;
    vertical-align: top;
    overflow: hidden;
}

.g {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.legend {
    float: right;
    margin: 3px;
    padding: 5px;
    width: 10%;
    height: 80%;
    border: 3px solid gray;
}
